<h6 id="heading2">Asset - {{myAsset.symbol}}  - OVERVIEW <button [routerLink]="['/Transactions/add', myAsset.symbol, myAsset.shares]" routerLinkActive="active" type="button" >Trade</button></h6>
<div id="container">
  <div id="leftThing">
    <div id="heading">CURRENT PRICE   ${{myAsset.price}} PER SHARE   </div>  
                  <label for="newPrice">New Price </label>
                  <input type="number" class="form-control" id="newPrice" placeholder="price per share" 
                  required [(ngModel)]="newPrice" #symbol="ngModel" name="newPrice" >
                <button type="button" (click)="updatePrice(newPrice)" >UPDATE PRICE</button>
      <table id="Margin1 tableClean">
            <thead>
                <tr>
                        <th></th>
                        <th>SHARES</th>
                        <th>AVG PRICE</th>
                        <th>CURRENT PRICE</th>
                        <th>CURRENT TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td id="gold">CURRENT</td>
                        <td>{{myAsset.shares}}</td>
                        <td>${{displayedAsset.avgprice}}</td>
                        <td>${{displayedAsset.price}}</td>
                        <td>${{displayedAsset.currentTotal}}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                        <th></th>
                        <th>SOLD SHARES</th>
                        <th>AVG PRICE SOLD</th>
                        <th>TOTAL $ SOLD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td id="gold">SOLD</td>
                        <td>{{myAsset.sharesSold}}</td>
                        <td>${{displayedAsset.avgpriceSold}}</td>
                        <td>${{displayedAsset.totalMoneyOut}}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th></th>
                    <th>REALIZED</th>
                    <th>MARGIN</th>
                    <th>UNREALIZED</th>
                    <th>MARGIN</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr>
                    <td id="gold">PROFIT</td>
                    <td>${{displayedAsset.realProfit}}</td>
                    <td>%{{displayedAsset.realMargin}}</td>
                    <td>${{displayedAsset.unRealProfit}}</td>
                    <td>%{{displayedAsset.unRealMargin}}</td>
                </tr>
            </tbody>
            <thead>
                <tr>
                    <th></th>
                    <th>TOTAL $ INVESTED</th>
                    <th>TOTAL $ WITHDRAWN</th>
                    <th>ORIGINAL $ LEFT</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <tr>
                  <td id="gold">MORE INFROMATION</td>
                  <td>${{displayedAsset.totalMoneyIn}}</td>
                  <td>${{displayedAsset.totalMoneyOut}}</td>
                  <td>${{displayedAsset.originalMoney}}</td>
                </tr>
            </tbody>
        </table>       
        <table id="Margin1">
            <thead>
                <tr>
                    <th></th>
                    <th id="heading">WHAT IF SCENARIO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td>What if I sold at this price right now?</td>
                        <td><input type="number" class="form-control" placeholder="price" 
                            required [(ngModel)]="whatIfPrice" #symbol="ngModel" name="whatIfPrice" >
                        </td>
                        <td><button type="button" (click)="whatIfScenario(whatIfPrice)">WHAT IF?</button></td>
                </tr>
                <tr>
                    <td>Total Money I would Get</td>
                    <td>${{totalMoneyOut}}</td>
                </tr>
                <tr>
                    <td>Pure Profit</td>
                    <td>${{pureProfit}}</td>
                </tr>
                <tr>
                    <td>Margin</td>
                    <td>%{{pureProfitMargin}}</td>
                </tr>
                <tr>
                    <td>HOW MANY SHARES DO I NEED TO SELL TO GET MY ORIGINAL MONEY BACK?</td>
                    <td>{{sharesToSell}}</td>
                </tr>
            </tbody>
        </table>
  </div>
  <div id="content">
        <ul class="nav justify-content-center">
                <li class="nav-item">
                        <button style="color:green">ONLY BOUGHT TRANSACTIONS</button>
                </li>
                <li class="nav-item">
                        <button>ONLY SOLD TRANSACTIONS</button>
                </li>
                <li class="nav-item">
                        <button (click)="displayTransactions('all')">ALL TRANSACTIONS</button>
                </li>
            </ul>
      <p id="heading">MY TRANSACTIONS</p>
        <table id="tableClean">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let transaction of transactions" 
                  [style.background-color]="transaction.transaction == false ? 'red' : 'green'" 
                  style="color:white">
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>${{ transaction.price }}</td>
                    <td>{{ transaction.buydate }}</td>   
                    <td>${{ transaction.total }}</td>
                    <br>
                  </tr>
                
                </tbody>
              </table>
  </div>
  
</div>

