<h3 style="color:royalblue">Add New Transaction</h3>
<hr>
<div [hidden]="submitted" class="container">
  <div class="row">
    <div class="col-sm-6">  
      <p>Transaction Type</p>
      <ul class="nav justify-content-center">
          <li class="nav-item">
               <a  class="btn btn-light btn-sm" style="color:white ; background-color: green" role="button" (click)="setTransaction(true)" >BUY</a> 
            </li>
          <li class="nav-item">
              <a  class="btn btn-light btn-sm" style="color:white; background-color: red" role="button" (click)="setTransaction(false)" >SELL</a>
          </li>
      </ul>      
    </div>
  </div>
</div>
<hr>

<div [hidden]="submitted">
    <form #transactionForm="ngForm" >

      <div class="form-group">
        <label for="symbol">Compnay Symbol</label>
        <input type="text" class="form-control" id="symbol" placeholder="Give Companies symbol" 
        required maxlength="6" autofocus
        [(ngModel)]="Transaction.symbol" name="symbol" #symbol="ngModel">
        <div [hidden]="symbol.valid || symbol.pristine"
             class="alert alert-danger">
            The symbol is not valid
        </div>
      </div>
      
	    <div class="form-group">
        <label for="shares">Amount of shares: maximum is 999,999,999 <p>{{shareCount}}</p></label>
        <input type="number" class="form-control" id="shares" placeholder="Number of shares" 
        required  pattern="([0-9]{1,9})"
        [(ngModel)]="Transaction.shares" name="shares" #shares="ngModel">
        <div [hidden]="shares.valid || price.pristinesss"
             class="alert alert-danger">
            Invlid number of shares
        </div>
      </div>
     
	    <div class="form-group">
        <label for="price">Price: maximum is $9999.99</label>
        <input type="number" class="form-control" id="price" placeholder="price per share" 
        required pattern="^\d{0,4}(\.\d{0,2})?$"  
        [(ngModel)]="Transaction.price" name="price" #price="ngModel">
        <div [hidden]="price.valid || price.pristine"
             class="alert alert-danger">
            Invalid price
        </div>
      </div>
      
	      <div class="form-group">
        <label for="buydate">Transaction Date </label>
        <input type="date" class="form-control" id="buydate" placeholder="date purchased" 
        required
        [(ngModel)]="Transaction.buydate" name="buydate" #buydate="ngModel">
        <div [hidden]="buydate.valid || buydate.pristine"
             class="alert alert-danger">
            date is required
        </div>
      </div>
	  
      <div class="btn-group btn-group-md">
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      	<button type="button" class="btn btn-dark" (click)="grabAsset(Transaction.symbol)" [disabled]="!transactionForm.form.valid">Submit</button>      
        <button type="button" class="btn btn-dark" (click)="newTransaction()" >Clear</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light">{{Transaction.symbol}} {{Transaction.shares}} {{Transaction.price}} {{Transaction.buydate}} {{Transaction.transaction}} {{Transaction.total}} </span></p>
 
  <div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    	<button type="button" class="btn btn-dark" (click)="newTransaction(); transactionForm.reset()">Add Another Transaction</button>
    </div>
</div>