<div>

<h4 style=" color: purple;" > 
  <label for="owner"> Select an Owner   </label>
  <select
        name="owner"
        [(ngModel)] = "ownersID"
        placeholder = "Choose Owner"
        (click)="getAssets('existing')"
        required
        class="form-control"
        style="background-color: black; color: yellow; width: 150px; position: relative;" >
        <option *ngFor="let element of Owners" [value]="element.id">
                {{element.owner}}'s
         </option>
  </select>   
  DASHBOARD
</h4>



<table>
  <thead>
    <th>CURRENT TOTAL :</th>
    <th>ORIGINAL INVESTMENT $ LEFT: </th>
    <th>TOTAL $ INVESTED: </th>
    <th>TOTAL $ PULLED OUT: </th>
  </thead>
  <tbody>
    <tr>
      <th>${{this.reportDisp.overallCurrent}}</th>
      <th>${{this.reportDisp.overallOrgMoney}}</th>
      <th>${{this.reportDisp.overallIn}}</th>
      <th>${{this.reportDisp.overallOut}}</th>
    </tr>
  </tbody>
</table>
</div>
<hr>
<h5 style=" color: purple;" >All Assets I Am Currently Holding</h5>
<div>
  <button type="button" (click)="getAssets('existing')">Existing Assets</button>
  <button type="button"  (click)="getAssets('archived')">Archived Assets</button>
  <button type="button"  (click)="getAssets('all')">All Assets</button>
</div>
<div class="btn-group btn-group-sm">
<table >
  <thead>
    <tr> 
      <th>Symbol</th>
      <th>Current Price</th>
      <th>Total Shares</th>
      <th>Current Total</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody >
      
    <tr *ngFor="let asset of assets" [ngClass]="'tablerow'">
        <td><button type="button"  [routerLink]="['/currentAssets/', asset.symbol]" routerLinkActive="active" >{{ asset.symbol }}</button></td>
        <td>${{ asset.price }}</td>
        <td>{{ asset.shares }}</td>
        <td>${{ asset.currentTotal }}</td>
        <td> {{asset.assettype}} </td>
        <button [routerLink]="['/Transactions/add', asset.symbol, asset.shares]" routerLinkActive="active" type="button" >Trade</button>
        <button type="button"  [routerLink]="['/currentAssets/', asset.symbol]" routerLinkActive="active" >DETAILS</button>
        <p></p>
      <br>
    </tr>
  
  </tbody>
</table>
</div>