<h5>All Customers</h5>
<div *ngFor="let cust of customers ">
  <a [routerLink]="['/customers', cust.id]" style="color:black"><span class="badge badge-dark">{{cust.id}}</span> -> {{ cust.firstname }}</a>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of customers">
      <td>{{ character.id }}</td>
      <td>{{ character.firstname }}</td>
      <td>{{ character.lastname }}</td>
      <td>{{ character.age }}</td>
    </tr>
  </tbody>
</table>
